{% extends 'base.html' %}
{% block content %}

<div class="tips-wrapper container py-5">

    <div class="text-center mb-5">
        <h1 class="fw-bold text-success">Daily Health Tips</h1>
        <p class="text-muted fs-5">
            Small habits: big impact on your well-being
        </p>
    </div>

    <div class="tips-grid">

        <div class="tip-card">
            <i class="bi bi-droplet"></i>
            <p>Drink 6-8 cups of water every day.</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-moon-stars"></i>
            <p>Sleep 7-9 hours to support immunity & brain health.</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-heart-pulse"></i>
            <p>Get regular check-ups, prevention saves lives.</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-emoji-smile"></i>
            <p>Laugh, socialize & manage stress intentionally.</p>
        </div>


        <div class="tip-card">
            <i class="bi bi-phone"></i>
            <p>Take phone-free breaks throughout the day</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-heart-pulse-fill"></i>
            <p>Reduce your salt intake to 5g per day, equivalent to about one teaspoon.</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-lungs-fill"></i>
            <p>Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not only the direct smokers but even non-smokers through second-hand exposure.</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-geo"></i>
            <p>A 15-minute walk improves mood and focus</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-graph-up"></i>
            <p>Have your blood pressure checked regularly by a health worker so you know your numbers.</p>
        </div>

        <div class="tip-card">
            <i class="bi bi-bookmark-heart-fill"></i>
            <p>Make sure you only take antibiotics if prescribed by a qualified health professional.</p>
        </div> 
    </div>

</div>

{% endblock %}
